@import "tailwindcss";

/* Cloud Loader */
/* From Uiverse.io by andrew-manzyk */
.loader {
  --cloud-color: #4387f4;
  --arrows-color: #80b1ff;
  --time-animation: 1s;
  transform: scale(1); /* You can change the size */
}

.loader #cloud {
  width: 100px;
  height: 100px;
}

.loader #cloud rect {
  fill: var(--cloud-color);
}

.loader #cloud g:nth-child(3) {
  transform-origin: 50% 72.8938%;
  fill: var(--arrows-color);
  filter: drop-shadow(0 0 8px black);
  animation: rotation var(--time-animation) linear infinite;
}

.loader #shapes g g circle {
  animation: cloud calc(var(--time-animation) * 2) linear infinite;
}

.loader #shapes g g circle:nth-child(2) {
  animation-delay: calc((var(--time-animation) * 2) / -3);
}

.loader #shapes g g circle:nth-child(3) {
  animation-delay: calc((var(--time-animation) * 2) / -1.5);
}

.loader svg #lines g line {
  stroke-width: 5;
  transform-origin: 50% 50%;
  rotate: -65deg;
  animation: lines calc(var(--time-animation) / 1.33) linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes lines {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(8px);
  }
}

@keyframes cloud {
  0% {
    cx: 20;
    cy: 60;
    r: 15;
  }
  50% {
    cx: 50;
    cy: 45;
    r: 20;
  }
  100% {
    cx: 80;
    cy: 60;
    r: 15;
  }
}

/* Add this to your global CSS (e.g., index.css) */
.scrollbar-thin::-webkit-scrollbar {
  height: 6px;
  width: 0px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}
.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

/* 7 days */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease forwards;
}

.fade-enter {
  opacity: 0;
  transform: translateX(-10px);
}
.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.2s ease, transform 0.2s ease;
}
.fade-exit {
  opacity: 1;
  transform: translateX(0);
}
.fade-exit-active {
  opacity: 0;
  transform: translateX(-10px);
  transition: opacity 0.2s ease, transform 0.2s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}
